@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins';
}

/* FONT */
.fw-semibold {
    font-weight: 500;
}

.f-2 {
    font-size: 2px;
}

.f-6 {
    font-size: 6px;
}

.f-8 {
    font-size: 8px;
}

.f-10 {
    font-size: 10px;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.f-24 {
    font-size: 24px;
}

.f-40 {
    font-size: 40px;
}

/* WIdth */
.w-90 {
    width: 90%;
}

/* Color */
.back-blue {
    background-color: #29AAE3;
}

.bg-second {
    background-color: #F3F3F3;
}

.text-prem {
    color: #29AAE3;
}

/* LOGIN REGIS */
.btnlogin {
    border-radius: 10px;
    border: solid 1px;
    background-color: white;
    border-color: black;
    transition: all 0.5s ease-in-out;
    width: 300px;
}

.btnlogin:hover {
    background-color: #d1d1d1;
    border-color: rgb(204, 204, 204);
    box-shadow: 1px 1px 0px 1px rgb(138, 138, 138);

}

.btn2 {
    border-radius: 10px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    border: 1px solid #3F3A39;
    box-sizing: border-box;
    color: #000;
    font-weight: 600;
    background-color: transparent;
}

.btn2:hover {
    background-color: rgb(233, 233, 233);
    letter-spacing: 1px;
    color: #000;

}

@media only screen and (max-width: 768px) {
    .padding {
        border-radius: 20px;
        background-color: white;
    }
}

@media only screen and (min-width: 769px) {
    .padding {
        border-radius: 10px;
        border-color: black;
        background-color: white;
    }
}

.btnmobile {
    border-radius: 20px;
    border-color: transparent;
    background-color: white;
}

.btnmobile2 {
    border-radius: 15px;
    border-color: transparent;
    background-color: white;
}

.lineleft {
    margin-top: -750px;
    margin-left: -80px;
    z-index: -9999;
}

/* VOUCHER */

.border-card {
    border: solid 1px;
    border-color: #C4C4C4;
    border-left: none;
}

.modal-custom

/* width */
::-webkit-scrollbar {
    width: 10px;
}

.modal-custom

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-custom

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.modal-custom

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Create a custom radio button */
.check {
    position: absolute;
    top: 22px;
    right: 0;
    height: 14px;
    margin-right: 13px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioWrapper:hover input~.check {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioWrapper input:checked~.check {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioWrapper input:checked~.check:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioWrapper .check:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}