@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #F3F3F3;
    /* background: #fff; */
}

.body-wrapper {
    overflow-x: hidden;
}

.textIndent {
    text-indent: 1px;
}

.logo {
    width: 4rem;
    height: auto;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    padding: 2px;
    border-radius: 5px;
    /* margin: 0 0 30px; */
    border: none;
}

input[type="search"] {
    border: none;
    background: #fff;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #29AAE3;
}

input.voucherInput[type="search"]::placeholder {
    color: #C1C1C1;
}

input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.input.custom {
    border: none;
    outline: none;
}

input.custom[type="search"]::placeholder {
    color: rgba(63, 58, 57, 0.32);
    font-weight: 400;
}

input.custom[type="search"]:focus {
    box-shadow: none;
    border: none;
    outline: none;
}


input.nosubmit {
    border: 1px solid transparent;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.border-abu {
    border: 1px solid #F3F3F3;
}

.border-bottom-hr {
    border-bottom: 1px solid #8b0909;
}

.cursor-pointer {
    cursor: pointer;
}

.border-checkout {
    border: 1px solid rgba(196, 196, 196, 0.57);
    background-color: transparent;
}

.border-checkout:focus {
    border: 2px solid #29AAE3;
    color: #29AAE3;
}

.hijau {
    color: #46e028;
}

.bg-disable {
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 100%;
}

.borad-7 {
    border-radius: 7px;
}

.borad-10 {
    border-radius: 10px;
}

.opacity-0 {
    opacity: 0;
}

.bg-white {
    background-color: #fff;
}

.black {
    color: #3F3A39;
}

.bg-white-products {
    background-color: #fff;
}

@media(min-width: 576px) {
    .bg-white-products {
        background: none;
    }
}

.bg-abu {
    background-color: #F3F3F3;
}


.bg-abu-muda {
    background-color: #FAFAFA;
}

.bg-abu-trans {
    background-color: rgba(29, 29, 29, 0.37);
}

.bg-blue-muda {
    background-color: rgba(118, 213, 255, 0.44);
}

.bg-blue-muda-res {
    background-color: transparent;
}

@media(min-width: 576px) {
    .bg-blue-muda-res {
        background-color: rgba(118, 213, 255, 0.44);
    }

    .border-biru {
        border: 1px solid #29AAE3;
    }

    .fz-res {
        font-size: 12px;
    }

    .toast-res {
        width: auto !important;
    }
}

.toast-res {
    width: 100%;
}

.fz-res {
    font-size: 20px;
}

.border-biru-res {
    border: none;
}

.border-bottom-custom {
    border-bottom: 15px solid #F3F3F3;
}

.borbot {
    border-bottom: 8px solid #FAFAFA;
}

.btn-blue {
    border: none;
    background-color: #29AAE3;
}

.btn-outline-yellow {
    border-color: #FBB133;
    background-color: transparent;
}

.btn-blue {
    border: none;
    background-color: #29AAE3;
}

.border-top-custom {
    border-top: 15px solid #F3F3F3;
}

.yellow {
    color: #FBB138;
}

.bg-pink {
    background-color: #FFF9F9;
}

.bg-yellow {
    background-color: #FBB133;
}

.btn-outline-yellow {
    border: 1px solid #FBB133;
    background-color: transparent;
    color: #FBB133;
    font-weight: 600;
}

.btn-outline-abu {
    border: 1px solid #E6E5E5;
    background-color: transparent;
    color: #E6E5E5;
}

.orange {
    color: #F15A23;
}

.bg-orange {
    background-color: #f15a23;
}

.-bottom-15 {
    bottom: -15px;
}

.abu {
    color: rgba(63, 58, 57, 0.5);
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.z-3 {
    z-index: 3;
}

.z-2 {
    z-index: 2;
}

.z-1 {
    z-index: 1;
}

.z-0 {
    z-index: 0;
}

.-z-1 {
    z-index: -1;
}

.-z-2 {
    z-index: -2;
}

.-z-3 {
    z-index: -3;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #29AAE3;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #29AAE3;
}

::placeholder {
    color: #29AAE3;
}

.blue {
    color: #29AAE3;
}

.left-25 {
    left: 30%;
}

.bg-blue {
    background-color: #29AAE3;
}

.bg-blue-muda {
    background-color: rgba(41, 170, 227, 0.41);
    ;
}

.borad-10 {
    border-radius: 10px;
}

.border-l-radius-10 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border-b-orange {
    border-bottom: 2px solid #FBB138;
}

.fz-9 {
    font-size: 9px;
}

.fz-10 {
    font-size: 10px;
}

.fz-10res {
    font-size: 12px;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-17 {
    font-size: 17px;
}

.fz-18 {
    font-size: 18px;
}

.fz-19 {
    font-size: 19px;
}

.fz-20 {
    font-size: 20px;
}

.text-abu {
    color: #3F3A39;
}

/* navbar */
.navbarBottom {
    box-shadow: 0px -3px 28px rgba(0, 0, 0, 0.1);
}

.iconNavbar {
    font-size: 20px;
    color: #fff;
}

.imgSmall {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.profileHover {
    width: 120px;
    background-color: #fff;
    position: absolute;
    top: 29px;
    right: 0px;
    z-index: 99;
    opacity: 0;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.listProfile {
    padding: 10px;
    margin: auto;
    color: #000;
}

.listProfile:hover {
    color: #F15A23;
    background: rgba(233, 233, 233, 0.377);
}

.panah {
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);
    background: #f1f1f1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.dropbtn {
    color: white;
    padding: 6px;
    font-size: 10px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Products */
.card {
    border: none;
}

.flash {
    width: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.px-flash {
    padding: 0 2px 0 2px;
}

.activeCategory {
    background-color: #29AAE3;
}

.activeCategory span {
    color: #fff;
}

/* Detail Produk */
.profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.profileImg {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    object-fit: cover;
}

.imgUlasan {
    width: 3rem;
    object-fit: cover;
}

input[type="radio"].radio-ulasan,
input[type="radio"].radio-ulasan:checked {
    display: none;
}

.card-ulasan input:checked+.radio-btn {
    border: 1px solid #FBB138;
    color: #FBB138;
}

.kota,
.ongkir {
    border: none;
}

.detailPilih {
    width: 10rem;
}

@media(max-width: 371px) {
    .detailPilih {
        width: 4rem;
    }
}

.activeDetailProducts {
    border: 1px solid #29AAE3;
    border-radius: 10px;
}

.activeNavLink {
    color: #FBB138;
    border-bottom: 10px solid #000;
}

.nav-link.detailProduk {
    background: transparent;
    color: rgba(63, 58, 57, 0.527);
}

.nav-link.detailProduk.active {
    background: transparent;
    color: #FBB138;
    border-bottom: 2px solid #FBB138;
}

@media(min-width: 576px) {
    .mt-detailProducts {
        margin-top: 9rem;
    }
}


/* Varian */
.kosong {
    opacity: .3;
    pointer-events: none;
}

input[type="radio"].radio-variasi,
input[type="radio"].radio-variasi:checked {
    display: none;
}

.card-variasi input:checked+.radio-btn {
    border: 1px solid #29AAE3;
    color: #29AAE3;
}

.variasi {
    border: 1px solid rgba(159, 156, 156, 0.15);
}

input[type="radio"].radio-payment,
input[type="radio"].radio-payment:checked {
    display: none;
}

.card-payment input:checked+.radio-btn {
    border: 2px solid #29AAE3;
    color: #29AAE3;
}

.varian {
    width: 4.2rem;
    height: 100%;
    object-fit: cover;
}

.activeVarian {
    border: 2px solid #29AAE3;
}

.desc1 {
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.desc2 {
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}

.desc3 {
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

.desc4 {
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
}

.mt-cus-member {
    margin-top: 200px;
}

.desc5 {
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
}

.animateCustom {
    animation: modalSlide 0.5s ease-in-out forwards;
    transform: translateY(50%);
}

@keyframes modalSlide {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.wrapper {
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
}

.wrapper span {
    width: 100%;
    background-color: #F3F3F3;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    border: 1px solid #F3F3F3;
}

.wrapper span.num {
    font-size: 15px;
    width: 100px;
    border: 1px solid #F3F3F3;
    pointer-events: none;
    background-color: #fff;
}

.object-cover {
    object-fit: cover;
}

.w-4rem {
    width: 4rem;
    height: 4rem;
}

/* Metode pembayaran */
.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff !important;
}

.accordion-button.collapsed {
    background: #fff
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../img/arrowUp.svg");
    transform: rotate(0deg);
}

.accordion-button::after {
    background-image: url("../img/arrowBottom.svg");
    transform: rotate(0deg);
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: #fff !important;
    color: #000 !important;
    text-decoration: none !important;
    border-color: #000 !important;
    box-shadow: 0px !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #000 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
}


.radioWrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radioWrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.iconPay {
    width: 1rem;
    height: auto;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 22px;
    right: 0;
    height: 14px;
    width: 14px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioWrapper:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioWrapper input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioWrapper input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioWrapper .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

@media(min-width: 576px) {
    .bg-white-bannerSale {
        background-color: transparent;
    }
}

.border-bottom-custom-bannerSale {
    border-bottom: 15px solid #F3F3F3;
}

@media(min-width: 576px) {
    .border-bottom-custom-bannerSale {
        border-bottom: none;
    }
}

/* @media(min-width: 576px) {
    .imgBanner {
        max-height: 12rem;
    }
} */

@media(min-width: 576px) {
    section {
        margin-top: 7rem;
    }
}

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.w-4rem {
    width: 4rem;
    height: 4rem;
}

.imgCarousel {
    width: 50rem;
    height: 30rem;
}

.saleImg {
    width: 100%;
    height: 173px;
    object-fit: cover;
}

@media(max-width: 1199px) {
    .saleImg {
        height: 146px;
    }
}

@media(max-width: 991px) {
    .saleImg {
        height: 108px;
    }
}

@media(max-width: 767px) {
    .saleImg {
        height: 80.5px;
    }
}

@media(min-width: 1400px) {
    .saleImg {
        height: 202px;
    }
}

/* Keranjang */
.bg-variasi {
    background: rgba(196, 196, 196, 0.23);
}

.navbarBottomCart {
    position: fixed;
    box-shadow: 0px -3px 28px rgba(0, 0, 0, 0.1);
}

@media(min-width: 768px) {
    .navbarBottomCart {
        position: relative;
        box-shadow: none;
    }

    .mt-keranjang {
        margin-top: 6rem;
    }
}

.free {
    width: 3rem;
}

.imgKeranjang {
    width: 4rem !important;
    height: auto;
    object-fit: cover;
}

.imgVariasi {
    width: 2rem;
    object-fit: cover;
}

/* Checkout */
.imgCheckout {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: cover;
}

/* Profile */
.mt-profile {
    margin-top: 10rem;
}

@media(max-width: 991px) {
    .mt-profile {
        margin-top: 8rem;
    }
}

@media(max-width: 767px) {
    .mt-profile {
        margin-top: 7rem;
    }
}

@media(max-width: 575px) {
    .mt-profile {
        margin-top: 5rem;
    }
}

@media(min-width: 992px) {
    .overflowPesanan {
        overflow: hidden;
    }
}

.overflowPesanan {
    overflow: auto;
}

.btnMenu {
    display: none;
    display: block;
    color: #fff;
}

.container-menu {
    width: 100%;
    min-width: 200px;
    /* margin: 20px; */
    display: inline-block;
    line-height: 30px;
}

.container-menu .menu {
    width: 100%;
}

.container-menu ul {
    list-style: none;
    padding-left: 0px;
}

.container-menu .menu li a {
    /* color: #494949; */
    display: block;
}

.activeNav {
    color: #F15A23;
}

.activeNav:hover {
    color: #F15A23;
}

.container-menu .menu ul {
    display: none;
}

/* .container-menu .menu ul li a {
    color: #000;
}

.container-menu .menu .activeMenu>a {
    color: #000;
} */

.container-menu .submenu {
    padding-left: 18px;
}

.pay {
    display: none;
}

/* Profile */
.profileBig {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.profileImgBig {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
}

.btnAlamat {
    border: 1px solid #3F3A39;
    box-sizing: border-box;
    border-radius: 5px;
    color: #000
}

.activeBtnAlamat {
    border: 1px solid rgba(146, 146, 146, 0.3);
    color: rgba(146, 146, 146, 0.3);
}

.activeBtnAlamat:hover {
    color: rgba(146, 146, 146, 0.3);
}

.btnUbahAlamat {
    border: none;
    background-color: transparent;
}

.btnMember {
    border: 1px solid #3F3A39;
    box-sizing: border-box;
    border-radius: 8px;
    color: #000;
    font-weight: 600;
    background-color: transparent;
}

.btnMember:hover {
    color: #000;
}

/* Pesanan Saya */
.nav-link-custom.activePesanan {
    color: #29AAE3;
    font-weight: 600;
    padding: 0 0 16px 0;
    border-bottom: 2px solid #29AAE3;
}

.nav-link-custom.activeDetailProduk {
    color: #FBB133;
    font-weight: 600;
    padding: 0 0 16px 0;
    border-bottom: 2px solid #FBB133;
    ;
}

.nav-link-custom {
    color: #0f0b0a;
    font-weight: 400;
    background: transparent;
    border: none;
}

.productsImg {
    width: 4.6rem;
    height: 4.6rem;
    object-fit: cover;
}

/* Voucher */
.voucherImg {
    width: 110px;
    height: 93px;
}

.borderVoucher {
    /* width: 30%; */
    border-top: 1px solid rgba(196, 196, 196, 0.2);
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    border-right: 1px solid rgba(196, 196, 196, 0.2);
    border-left: none;
    box-sizing: border-box;
    border-radius: 1px;
    position: relative;
}

.sk {
    position: absolute;
    bottom: 10px;
    right: 10px
}

.gapCustom {
    gap: 20px 5px;
}

.bg-voucher-abu {
    background-color: #F7F7F7;
}

.btn-voucher-abu {
    background-color: #DEDEDE;
}

.btn-voucher {
    border: none;
}

/* Sidebar Profile */
nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

nav ul li {
    line-height: 30px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    display: block;
    width: 100%;
}

nav ul li a:hover {
    color: #000;
    font-weight: 600;
}

.activeMenu {
    font-weight: 600;
}

.activeSubmenu {
    color: #F15A23;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}

nav ul .serv-show.show1 {
    display: block;
}

nav ul .feat-show.hide {
    display: none;
}

nav ul .serv-show.hide1 {
    display: none;
}

nav ul ul li {
    line-height: 30px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 12px;
    color: #000;
    padding-left: 15px;
    font-weight: normal;
}

nav ul ul li a:hover {
    color: #F15A23;
    font-weight: normal;
}

/* Chat */
:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

.wrapperChat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: Helvetica, sans-serif;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* width: 100%; */
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-send-btn {
    margin-left: 10px;
    background: #29AAE3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(23, 105, 117);
}

.msger-chat {
    background-color: #fcfcfe;
}

.mtProfil {
    margin-top: 8rem;
}

.mtSearch {
    margin-top: 12rem;
}

@media(max-width:991px) {
    .mtProfil {
        margin-top: 5rem;
    }

    .mtSearch {
        margin-top: 8rem;
    }

    .paddingInvoice {
        padding: 0;
    }
}

.mtInvoice {
    margin-top: 8rem;
}

@media(max-width:991px) {
    .mtInvoice {
        margin-top: 0rem;
    }

    .paddingInvoice {
        padding: 0;
    }
}

.paddingInvoice {
    padding: 10px 20rem;
}

.titleNotif {
    width: 70%;
}

@media(max-width:991px) {
    .titleNotif {
        width: 100%;
    }
}

.iconList {
    width: 30px;
    height: auto;
}

.refferal {
    border: 1px solid rgb(51, 51, 51);
}

.kadoSmall {
    width: 20px;
    height: auto;
}

.imgMember {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.qris {
    width: 1rem;
    height: auto;
}

.numCart {
    min-width: 24px;
    min-height: 20px;
    background-color: #fff;
    color: #29AAE3;
    border-radius: 50%;
    padding: 1px 0.4rem;
    position: absolute;
    top: -10px;
    left: 90%;
}

.imgProduct {
    width: 28rem;
    height: auto;
    object-fit: cover;
}

@media(max-width: 991px) {
    .imgProduct {
        width: 100%;
    }
}

.tIndent {
    text-indent: 1rem;
}

.borStar {
    border: 1px solid rgba(199, 90, 0, 0.651);
}

.rating-box {
    display: inline-block;
}

.rating-container {
    direction: rtl !important;
}

.labelStar {
    display: inline-block;
    margin: 15px 0;
    color: #d4d4d4;
    cursor: pointer;
    font-size: 50px;
    transition: color 0.2s;
}

.starBig {
    width: 10rem;
}

.inputStar {
    display: none;
}

.labelStar:hover,
.labelStar:hover~label,
input.inputStar:checked~label {
    color: gold;
}

.nav-pills.orangeBtn .nav-link.active,
.nav-pills.orangeBtn .show>.nav-link {
    color: #FBB133;
    background-color: transparent;
    border: 1px solid #FBB133;
}

.nav-pills.orangeBtn .nav-link {
    border: 1px solid #E6E5E5;
    color: #E6E5E5;
}